{% extends "base.html" %}

{% block body %}


<form id="add_alarm" action="/">
    <table style="font-weight:bold;">
  <tr>
    <td></td>
    <td><textarea id="description" rows="10" cols="50" placeholder="Enter description, or action to take place..."></textarea></td>
  </tr>
  <tr>
    <td class="align-right">Alarm Time:</td>
    <td>
        <input class="align-left" id="alarm_time" type="text" >
    </td>
  </tr>
  <tr>
    <td class="align-right">Author: </td>
    <td><input class="align-left" type="text" id="author" name="author" ></td>
  </tr>
  <tr>
    <td class="align-right">Comment:</td>
    <td><input class="align-left" type="text" id="comment" name="comment" ></td>
  </tr>
  <tr>
    <td></td>
    <td><input style="float:left" type="submit" id="set_downtime" class="btn btn-success"/></td>
  </tr>
</table>

</form>

<script src="{{ static_url('js/add.js') }}"></script>

{% end %}